<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- This key obviously needs to go outta here -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=learningtablestorage;AccountKey=ArmOPcQox1Ac1zuOeaTQ4WJtqazQjUlohdjzfMNJ5Er9R4CR9vqMtLGiNrvhQBmnRTbYdRKwk1r8FRCkc1JSEg==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>